<a href="https://colab.research.google.com/github/QuocTrung810/MachineLearning-Practice/blob/main/LinearRegression_AdultData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import LabelEncoder, normalize
from sklearn.model_selection import train_test_split

In [72]:
dataFrame = pd.read_csv('https://raw.githubusercontent.com/QuocTrung810/MachineLearning-Practice/main/data/adult.data', header = None)
dataFrame.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [73]:
LE = LabelEncoder()
dataFrame[1] = LE.fit_transform(dataFrame[1])
dataFrame[3] = LE.fit_transform(dataFrame[3])
dataFrame[5] = LE.fit_transform(dataFrame[5])
dataFrame[6] = LE.fit_transform(dataFrame[6])
dataFrame[7] = LE.fit_transform(dataFrame[7])
dataFrame[8] = LE.fit_transform(dataFrame[8])
dataFrame[9] = LE.fit_transform(dataFrame[9])
dataFrame[13] = LE.fit_transform(dataFrame[13])
dataFrame[14] = LE.fit_transform(dataFrame[14])
dataFrame.astype('float64')
dataFrame.head(5)

   0   1       2   3   4   5   6   7   8   9     10  11  12  13  14
0  39   7   77516   9  13   4   1   1   4   1  2174   0  40  39   0
1  50   6   83311   9  13   2   4   0   4   1     0   0  13  39   0
2  38   4  215646  11   9   0   6   1   4   1     0   0  40  39   0
3  53   4  234721   1   7   2   6   0   2   1     0   0  40  39   0
4  28   4  338409   9  13   2  10   5   2   0     0   0  40   5   0

In [82]:
normalizated0 = normalize([dataFrame.values[:, 2]])
dataFrame[2] = normalizated0.T
normalizated1 = normalize([dataFrame.values[:, 10]])
dataFrame[10] = normalizated1.T
dataFrame.head(5)

   0   1         2   3   4   5   6   7   8   9         10  11  12  13  14
0  39   7  0.001978   9  13   4   1   1   4   1  0.001614   0  40  39   0
1  50   6  0.002126   9  13   2   4   0   4   1  0.000000   0  13  39   0
2  38   4  0.005503  11   9   0   6   1   4   1  0.000000   0  40  39   0
3  53   4  0.005990   1   7   2   6   0   2   1  0.000000   0  40  39   0
4  28   4  0.008636   9  13   2  10   5   2   0  0.000000   0  40   5   0

In [89]:
df = dataFrame.values
x0 = np.ones((df.shape[0], 1))
data = np.concatenate((x0, df), axis = 1)
x = data[:, :-1]
y = data[:, -1]

In [84]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.4, random_state = 42)

In [90]:
def fx(x, w):
  fx = 0
  for i in range(data.shape[1]):
    fx += w[i] * x[i]

def loss(x, y, w):
  error = 0
  for i in range(len(x)):
    error += (y[i] - fx(x[i], w)) ** 2
  return error/(2*len(x))

def derivative(x, y, w):
  d = [0] * data.shape[1]
  for i in range(len(x)):
    for j in range(len(d)):
      d[j] += (y[i] - fx(x[i], w)) * x[i][j]
  for i in range(len(d)):
    d[i] /= len(x)

In [ ]:
w = [1] * data.shape[1]
epoch = 0