<a href="https://colab.research.google.com/github/QuocTrung810/MachineLearning-Practice/blob/main/LinearRegression_AdultData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [16]:
dataFrame = pd.read_csv('https://raw.githubusercontent.com/QuocTrung810/MachineLearning-Practice/main/data/adult.data', header = None)
dataFrame.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [19]:
LE = LabelEncoder()
for i in range(dataFrame.shape[1]):
  if isinstance(dataFrame.values[1, i], str):
    dataFrame[i] = LE.fit_transform(dataFrame[i])

   0   1       2   3   4   5   6   7   8   9     10  11  12  13  14
0  39   7   77516   9  13   4   1   1   4   1  2174   0  40  39   0
1  50   6   83311   9  13   2   4   0   4   1     0   0  13  39   0
2  38   4  215646  11   9   0   6   1   4   1     0   0  40  39   0
3  53   4  234721   1   7   2   6   0   2   1     0   0  40  39   0
4  28   4  338409   9  13   2  10   5   2   0     0   0  40   5   0

In [42]:
df = dataFrame.values
x0 = np.ones((df.shape[0], 1))
data = np.concatenate((x0, df), axis = 1)
x = data[:, :-1]
y = data[:, -1]

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.4, random_state = 42)

In [ ]:
def fx(x, w):
  fx = 0
  for i in range(data.shape[1]):
    fx += w[i] * x[i]

def loss(x, y, z):
  pass